.viewOrderItemsButton{
  width: 100%;
  font-size: 110%;
  margin-top: 5%;
  font-family: 'Lora', serif;
  background-color: orange;
  border: 5px solid green;
  padding: 0.5rem 1rem; 
  font-size: 15px;
  font-weight: bold;
}

.viewOrderItemsButton:hover {
  color: white;
}

.viewOrderItemsButton:active {
  color: black;
  background: yellow;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}